---
import Title from '../../components/Title.astro';
import Layout from '../../layouts/Layout.astro';
import Wrapper from '../../layouts/Wrapper.astro';

export function getStaticPaths() {
  return [
    { params: { slug: "ag" }},
    { params: { slug: "elgirasol" }},
    { params: { slug: "wedoox" }},
  ];
}

const { slug } = Astro.params;

const projects = [
    {
        slug: "elgirasol",
        name: "Surveys to compute NPS",
        images:[
                "/img/img_projects/elgirasol/1.png",
                "/img/img_projects/elgirasol/2.png",
                "/img/img_projects/elgirasol/3.png",
                "/img/img_projects/elgirasol/4.png",
                "/img/img_projects/elgirasol/5.png",
                "/img/img_projects/elgirasol/6.png",
                "/img/img_projects/elgirasol/7.png",
                "/img/img_projects/elgirasol/main.png",
            ],
        tooling: ["Angular", "MySQL", "ExpressJS", "TypeScript", "JavaScript", "CSS", "Bootstrap"],
        position: "Full-Stack Web Developer & Analyst",
        description: [`El Girasol is a natural products store with a national presence in more than 20 states across
         Mexico. To better understand customers’ opinions about its services and products, I developed a survey system 
         that collects and visualizes data in a clear and accurate way. Thanks to this tool, the management team can 
         now make informed decisions based on real customer feedback.`]
    },
    {
        slug: "ag",
        name: "ERP Academia Global",
        images: ["/img/img_projects/erp_ag/main.png"],
        tooling: ["Angular", "MySQL", "ExpressJS", "TypeScript", "JavaScript", "CSS", "Bootstrap", "NestJS", "TailwindCSS",
            "Redis", "Docker", "AWS S3", "AWS EC2"
        ],
        position: "Full Stack Web Developer",
        description: [`I developed the ERP system for Academia Global from scratch, building both the web application
         in Angular and the associated microservices. I was responsible for designing the overall system architecture, 
         centralizing all internal tools into a single platform to streamline users’ daily work.`]
    },
    {
        slug: "wedoox",
        name: "Module of CRM",
        images: ["/img/img_projects/crm_wedoox/1.png", 
            "/img/img_projects/crm_wedoox/2.png",
            "/img/img_projects/crm_wedoox/3.png"
        ],
        tooling: ["NextJS", "MySQL", "ExpressJS", "TypeScript", "JavaScript", "CSS", "Bootstrap", "NestJS", "TailwindCSS",
            "NextJS", "React", "Redux", "TailwindCSS", "Fontawesome", "NextUI"
        ],
        position: "Frontend Developer",
        description: [`I developed a web application with Next.js that served as the foundation for future modules of 
        Wedoox’s development team. I was responsible for the project’s initial setup, integrating technologies such 
        as Redux for state management and TailwindCSS for responsive design. Additionally, 
        I implemented the application’s main module, which centralized all quotations, enabling users to 
        consult and manage information quickly and in an organized manner. This module was key to the system’s 
        operations.`]
    },
];

const project = projects.find(p => p.slug === slug);
console.log("🚀 ~ project:", project)
---
<Layout title={`${project?.name} | Leeroy Garcia`}>
	<Wrapper>
        <Title title={project?.name} />

        <div class="pt-4 text-lg text-white">
            {project?.description.map(p => <p class="text-center">{p}</p>)}
        </div>

        <!-- <Title title="Herramientas" /> -->
        <div class="w-full flex flex-row justify-center items-center mt-2">
            <h1 class="text-2xl text-cosmic-purple font-bold">Tooling</h1>
        </div>

        <div class="flex flex-row flex-wrap gap-2 pt-4">
            {project?.tooling?.map((p) =>{
                return (
                    <div class="bg-cosmic-purple w-fit p-1 px-2 rounded-xl">
                        <h5 class="text-white text-sm">{p}</h5>
                    </div>
                )
            })}
        </div>

        <div class="flex flex-col gap-4 pt-4">
            {project?.images.map(i => (<img src={i} class="w-full rounded-lg"/>))}
        </div>

    </Wrapper>
</Layout>